<h1>Welcome To My Website</h1>
<p1> Yes I know it is ugly garbage, I am just sort of building and playing around adding one little bit at a time. </p1>

<%= link_to 'My Blog', controller: 'articles' %>
